# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static files (generated)
staticfiles/

# Logs
*.log